#layout-header {
  background-color: #1186F0;
  color: white;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  #layout-header ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    justify-content: space-between; }
    #layout-header ul li {
      padding-right: 8px; }

a {
  color: inherit;
  text-decoration: none;
  font-weight: bold; }
